#album {

    .jumbotron {
        background-color: #fff;
    }

    .jumbotron-heading {
        font-weight: 300;
    }

    .jumbotron .container {
        max-width: 40rem;
    }

    main {
        margin-bottom: 0;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    footer.footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}
